USE [master]
GO
/****** Object:  Database [MyFinances]    Script Date: 04/07/2025 18:05:38 ******/
CREATE DATABASE [MyFinances]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyFinances', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MyFinances.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyFinances_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MyFinances_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyFinances].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyFinances]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 04/07/2025 18:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operations]    Script Date: 04/07/2025 18:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](500) NULL,
	[Value] [decimal](10, 2) NOT NULL,
	[Date] [date] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_Operations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'ogólna')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'media i usługi')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'nieruchomości')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Operations] ON 

INSERT [dbo].[Operations] ([Id], [Name], [Description], [Value], [Date], [CategoryId]) VALUES (1, N'czynsz', NULL, CAST(500.00 AS Decimal(10, 2)), CAST(N'2025-07-03' AS Date), 3)
INSERT [dbo].[Operations] ([Id], [Name], [Description], [Value], [Date], [CategoryId]) VALUES (2, N'pit', N'praca na magazynie', CAST(400.00 AS Decimal(10, 2)), CAST(N'2025-07-03' AS Date), 9)
INSERT [dbo].[Operations] ([Id], [Name], [Description], [Value], [Date], [CategoryId]) VALUES (3, N'leki', N'paracetamol', CAST(10.00 AS Decimal(10, 2)), CAST(N'2025-07-03' AS Date), 12)
SET IDENTITY_INSERT [dbo].[Operations] OFF
GO
ALTER TABLE [dbo].[Operations]  WITH CHECK ADD  CONSTRAINT [FK_Operations_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Operations] CHECK CONSTRAINT [FK_Operations_Categories]
GO
USE [master]
GO
